body {
    text-align: center;
    background-color:aquamarine;
}
div{
  margin-top:   15px ;
}
.image-section {
    display: flex;
    justify-content: center;

}
.section-style{
     margin-right: 25px;
    margin-left: 25px;` 
    width: 600px ;
        
}
}

h1 {
    text-align: center;
    width: 200px ;
}

img {
    width: 500px;
    height: 500px;
}
  .text {

    color: Black ;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    font-family: fantasy;
    font-size: 20px;